
/buildroot
/cuda-13.0
/cuda-extract
/cuda
*.run
/dma_ip_drivers
/NVIDIA-Linux-x86_64-580.95.05
/open-gpu-kernel-modules
/xgboost
/trading-linux/buildroot-external/board/trading/overlay/usr/lib64
/trading-linux/buildroot-external/board/trading/overlay/usr/lib
/trading-linux/buildroot-external/board/trading/overlay/usr/bin/nvidia-smi
/trading-linux/buildroot-external/board/trading/overlay/usr/bin/nvidia-debugdump
*.xz
/nvidia_driver-linux-x86_64-590.48.01-archive
/trading-linux/buildroot-external/board/trading/overlay/opt/cuda
/trading-linux/buildroot-external/board/trading/overlay/opt/xgboost
/grub
/tmp/iso_extract/boot/grub/x86_64-efi
tmp/iso_extract/boot/initrd
tmp/iso_extract/boot/grub/unicode.pf2
tmp/iso_extract/boot/grub/tranding_root.txt
tmp/iso_extract/boot/grub/logo.png
tmp/iso_extract/boot/grub/locale/en_GB.mo
tmp/iso_extract/boot/grub/locale/en_CA.mo
tmp/iso_extract/boot/grub/locale/en_AU.mo
tmp/iso_extract/boot/grub/locale/en@quot.mo
*.iso
/trading-linux/buildroot-external/board/trading/overlay/boot/grub/x86_64-efi
tmp/iso_extract/boot/grub/fonts/unicode.pf2
tmp/iso_extract/boot/fat.efi
tmp/iso_extract/boot/bzImage
tmp/iso_extract/boot.catalog
/trading-linux/working/EFI/BOOT/x86_64-efi
/trading-linux/working/EFI/trading/x86_64-efi
/trading-linux/working/grub/x86_64-efi
trading-linux/working/EFI/BOOT/bootx64.efi
trading-linux/working/EFI/BOOT/unicode.pf2
trading-linux/working/EFI/trading/grubx64.efi
trading-linux/working/EFI/trading/unicode.pf2
trading-linux/working/grub/fonts/unicode.pf2
trading-linux/working/grub/unicode.pf2
/cccl
/dpdk-25.11
/xdp-tools
/libbpf
/librdkafka
